body {
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px 150px;
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 50px;
}

.container h1 {
    color: #000;
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
}

.container h4 {
    color: #5d5d5d;
    font-style: italic;
}

.container p {
    font-family: cursive;
}

.container .go-back button {
    height: 40px;
    padding: 10px;
    align-self: right;
    background-color: #000;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    width: 20%;
}

.container .go-back button:hover {
    background-color: transparent;
    color: #000;
    font-weight: bold;
    border: 2px solid #000;
}